/* Ivey speller 3/26/25*/

body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(7, 196, 230);
background: linear-gradient(180deg, rgb(0, 255, 255) 20%, rgb(36, 245, 8),  rgb(0, 255, 255)  100%);
}

.choices{
    margin-bottom: 30px;
    border: dashed;
}
/* code for the buttons*/
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: azure;
    cursor: pointer;
    transition: background-color 0.5s ease ;
}
    

#playerDisplay,#computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay{
    font-size: 2rem;
    border: dashed,color(srgb 100 240 rgb(174, 174, 219));
}

.greentext, #playerScoreDisplay{
color: green;
}

.redtext, #computerScoreDisplay{
    color: red;

}