/* Ivey speller 3/26/25*/

body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices{
    margin-bottom: 30px;
}
/* code for the buttons*/
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: azure;
    cursor: pointer;
    transition: background-color 0.5s ease ;
}

#playerDisplay,#computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay{
    font-size: 2rem;
}